@import url('var.css');


body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}


.container {
    width: 1360px;
    height: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 32px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 18px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 32px;
    color: var(--dark);
    text-align: center;
}

.section-subtitle {
    margin-bottom: 16px;
    font-size: 18px;
}

/* menu */

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu {
    z-index: 1;
    background-color: var(--dark);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 1;
}

.menu-logo {
    width: 170px;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.menu-items {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
    list-style: none;
}

.menu-item {
    cursor: pointer;
    margin: 0 15px;
    font-weight: bold;
}

.menu-item-link {
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
}

.menu-item-link:active, .menu-item-link:hover{
    color: var(--accent);
}

.menu-tel {
    width: 230px;
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
    font-weight: bold;
}

.menu-btn {
    border: 2px solid var(--white);
    border-radius: 2px;
    transition: background-color .2s ease-out;
    color: var(--white);
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.menu-btn:hover {
    background-color: var(--accent);
}

@media (max-width: 512px) {
    .menu-btn {
        display: none;
    }
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: none;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

@media (max-width: 512px){
    .container {
        width: 100%;
    }

    .menu-items{
        position: absolute;
        top: 60px;
        left: 0;
        display: block;
        background-color: var(--dark-bg);
        visibility: hidden;
    }

    .menu-item {
        margin: 5px auto;
        text-align: center;
    }

    .menu__btn {
        display: flex;
    }
}


#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu-items {
    visibility: visible;
}

.menu-region {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
}

.dropdown-toggle:hover {
    background-color: var(--light-bg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 110%;
    left: -184px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    z-index: 100;
}

.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    min-width: 180px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.dropdown.open .dropdown-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 542px;
}

/* end menu */

main {
    margin-top: 60px;
}

/* index */

.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px); /* или min-height */
    overflow: hidden;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-logo {
    margin-top: 20vh;
    padding: 45px 40px 55px;
    position: relative;
    z-index: 3;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 8px;
}

.hero-logo h1 {
    font-size: 36px;
    font-family: "Roboto Slab",serif;
}

.hero-logo b {
    font-size: 96px;
    text-decoration: underline;
}

.hero-video-dimmer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(40,40,40,.8);
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.numbers {
    padding: 16px 0 23px;
    background-color: var(--dark);
}

.numbers-group {
    width: 100%;
    margin: 0 auto 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.number-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: var(--accent);
}

.number-subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin-top: -16px;
    color: var(--accent);
}

.number-text {
    font-weight: 400;
    margin-top: 12px;
    font-size: 18px;
    line-height: 22px;
    color: var(--light);
}

.swiper-wrapper {
    align-items: center;
}

.nets-swiper {
    width: 1330px;
    margin: 80px auto;
    text-align: center;
}

.nets-swiper img {
  max-height: 72px;
  max-width: 234px;
  margin: auto;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s;
}

.nets-swiper img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.services-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-el {
    display: block;
    position: relative;
    overflow: hidden;
    width: 32%;
    height: 172px;
    color: var(--dark);
    padding: 10px 14px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.services-el::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 170px;
    filter: grayscale(600%);
    opacity: 0.8;
    transition: filter 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
}

.services-el:hover::after {
    filter: grayscale(0%);
    opacity: 1;
}

.services-el h3 {
    font-size: 20px;
}

/* === ОСНОВНЫЕ УСЛУГИ (Мерчандайзинг) === */
#services-el-retail,
#services-el-beauty,
#services-el-diy,
#services-el-meds {
    background: #f7e4d9;
}

/* === АУДИТ и КОНТРОЛЬ === */
#services-el-audit,
#services-el-retail-audit,
#services-el-mystery {
    background: #ebe9fd;
}

/* === ПЕРСОНАЛ и ПРОДАЖИ === */
#services-el-learning,
#services-el-outsource-staff,
#services-el-outsource-sales {
    background: #fff8e1;
}

/* === ОБОРУДОВАНИЕ === */
#services-el-tech,
#services-el-placement {
    background: #e8eaf6;
}

#services-el-retail::after {
    background: url("../img_services/shop-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-beauty::after {
    background: url("../img_services/merch-beauty-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-audit::after {
    background: url("../img_services/audit-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-retail-audit::after {
    background: url("../img_services/ppl-1-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-mystery::after {
    background: url("../img_services/mystery-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-outsource-staff::after {
    background: url("../img_services/ppl-2-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-learning::after {
    width: 150px;
    background: url("../img_services/learn-nobg.png") no-repeat;
    background-size: contain;
}

#services-el-diy::after {
    background: url("../img_services/diy-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-tech::after {
    background: url("../img_services/merch-tech.png") no-repeat bottom right;
    background-size: contain;
    right: 20px;
}

#services-el-placement::after {
    background: url("../img_services/posm.png") no-repeat bottom right;
    background-size: contain;
    height: 150px;
}

#services-el-meds::after {
    background: url("../img_services/meds-nobg.png") no-repeat bottom right;
    background-size: contain;
}

#services-el-outsource-sales::after  {
    background: url("../img_services/sales-nobg.png") no-repeat bottom right;
    background-size: contain;
}
/* adv-icons */

.adv-icons {
    margin-top: 32px;
}

.adv-icons-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv-icons-el {
    display: block;
    margin-bottom: 24px;
    width: 32%;
    padding: 16px;
    transition: .2s ease-in-out;
    border: 2px solid var(--medium);
    cursor: pointer;
    color: var(--dark);
}

.adv-icons-el:hover {
    border: 2px solid var(--accent);
    color: var(--black);
}

.adv-icons-el img {
    max-width: 64px;
}

.adv-icons-title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

/* end index */


/* footer */

footer {
    padding: 20px 0;
    background-color: var(--dark);
    color: var(--light);
}

footer a {
    color: var(--white);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent);
}

footer h2 {
    text-align: center;
}

.footer-map{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-map-reg1 {
    display: block;
    list-style: none;
}

.footer-map-img {
    display: block;
    max-width: 999px;
}

.footer-map-reg2 {
    display: block;
    list-style: none;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

address {
    font-style: italic;
}

.footer-contacts-el {
    margin-bottom: 6px;
}

.footer-contacts-el-title {
    font-weight: bold;
}

.footer-copy {
    margin-top: 16px;
    text-align: center;
}

/* end footer */